<link rel="stylesheet" type="text/css" href="./styles/footer.css" />
<footer>
    <span class="left">
        &nbsp;&nbsp;&nbsp;
        v<%=version%>
    </span>

    <%if(lang == "fr"){%>
        Développé par Floliroy, tous droits réservés.
    <%}else{%>
        Developed by Floliroy, all rights reserved.
    <%}%>

    <span class="right">
        <img src="./images/github.png" alt="FR" onclick="window.open('https://github.com/Floliroy', '_blank')" />
        <img src="./images/twitter.png" alt="FR" onclick="window.open('https://twitter.com/Floliroy', '_blank')" />
        <img src="./images/facebook.png" alt="FR" onclick="window.open('https://www.facebook.com/florian.terrier.7', '_blank')" />
        <img src="./images/youtube.png" alt="FR" onclick="window.open('https://www.youtube.com/channel/UC2Apxbj6zaGE2FcFoxwhGug', '_blank')" />
        &nbsp;&nbsp;&nbsp;
    </span>
</footer>