<link rel="stylesheet" type="text/css" href="./styles/header.css" />
<header>
    <span class="left">
        &nbsp;&nbsp;&nbsp;
        <strong>
            <a href="/">HOME</a>
        </strong>
    </span>
    <span class="right">
        <img id="theme" alt="Theme" onclick="switchTheme()" src="./images/{{#ifEquals theme "black"}}sun{{else}}moon{{/ifEquals}}.png" />
        
        &nbsp;&nbsp;&nbsp;

        <img src="./images/french.png" alt="FR" {{#ifEquals lang "fr"}}class="selected"{{else}}
            onclick="window.location.href='/switchLang?lang=fr'"{{/ifEquals}} />
        <img src="./images/english.png" alt="EN" {{#ifEquals lang "en"}}class="selected"{{else}}
            onclick="window.location.href='/switchLang?lang=en'"{{/ifEquals}} />
            
        &nbsp;&nbsp;&nbsp;
    </span>
</header>