<link rel="stylesheet" type="text/css" href="./styles/header.css" />
<header>
    <span class="left">
        &nbsp;&nbsp;&nbsp;
        <strong>
            <a href="/">
                Portfolio
            </a>
        </strong>
        &nbsp;&nbsp;
        <strong>
            <a href="/resume">
                <%if(lang == "fr"){%>
                    CV
                <%}else{%>
                    Resume
                <%}%>
            </a>
        </strong>
    </span>
    <span class="right">
        <img id="theme" alt="Theme" onclick="switchTheme()" src="./images/header/<%=theme == "black" ? "sun" : "moon"%>.png" />
        
        &nbsp;&nbsp;&nbsp;

        <img src="./images/header/french.png" alt="FR" 
        <%if(lang == "fr"){%>
            class="selected"
        <%}else{%>
            onclick="window.location.href='/switchLang?lang=fr'"
        <%}%> />

        <img src="./images/header/english.png" alt="EN" 
        <%if(lang == "en"){%>
            class="selected"
        <%}else{%>
            onclick="window.location.href='/switchLang?lang=en'"
        <%}%> />
            
        &nbsp;&nbsp;&nbsp;
    </span>
</header>