<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>FloLeeroy J.</title>

    <link rel="icon" type="image/png" href="./logo.png" />
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />

    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/jquery.smoothState.min.js"></script>
    <script type="text/javascript" src="./scripts/dynamic.js"></script>
</head>
<body class="<%=theme%>Theme">
    <div id="smoothState" class="animate">
        <%-include("header")%>
        <br/>

        <div id="main" class="animate fadeInUp">
            <%-include(`../pages/${body}`)%>
        </div>
        
        <br/>
        <%-include("footer")%>
    </div>
</body>
</html>