<h1>
    <%if(lang == "fr"){%>Bienvenue sur mon propre Site Web<%}else{%>Welcome on my very own WebSite<%}%>
</h1>
<br/>
<h2>
    <%if(lang == "fr"){%>Voici la liste des pages disponibles<%}else{%>Here is the list of available pages<%}%> :
</h2>
<br/>

<div>
    <h3 class="link"><a href="/resume">Portfolio</a></h3>

    <%if(lang == "fr"){%>
        Mon propre Portfolio / Curriculum Vitae <i>(en cours de dev ...)</i>
    <%}else{%>
        My own Portfolio / Curriculum Vitae <i>(in development ...)</i>
    <%}%>
</div>
<br/>

<div>
    <h3 class="link"><a href="/printTftPlayers">Print TFT Players</a></h3>

    <%if(lang == "fr"){%>
        Un module permettant d'avoir des informations sur les joueurs TFT d'un tournoi.
    <%}else{%>
        A module that is getting information about players of TFT's tournament.
    <%}%>
</div>
<br/>

<div>
    <h3 class="link"><a href="/amongus">Among Us</a></h3>

    <%if(lang == "fr"){%>
        Plusieurs guides sur Among Us. Ainsi que des liens rapides de téléchargement.
    <%}else{%>
        Different guides related to Among Us <i>(only available in french for now)</i>
    <%}%>
</div>
<br/>