<h1>
    <%if(lang == "fr"){%>Bienvenue sur mon propre Site Web<%}else{%>Welcome on my very own WebSite<%}%>
</h1>
<br/>
<h2>
    <%if(lang == "fr"){%>Voici la liste des pages disponibles<%}else{%>Here is the list of available pages<%}%> :
</h2>
<br/>

<div>
    <a href="/resume"><h3 class="link">Portfolio</h3></a>

    <%if(lang == "fr"){%>
        Mon propre Portfolio / Curriculum Vitae <i>(en cours de dev ...)</i>
    <%}else{%>
        My own Portfolio / Curriculum Vitae <i>(in development ...)</i>
    <%}%>
</div>
<br/>

<div>
    <a href="/printTftPlayers"><h3 class="link">Print TFT Players</h3></a>

    <%if(lang == "fr"){%>
        Un module permettant d'avoir des informations sur les joueurs TFT d'un tournoi.
    <%}else{%>
        A module that is getting information about players of TFT's tournament.
    <%}%>
</div>
<br/>

<div>
    <a href="/amongus"><h3 class="link">Among Us</h3></a>

    <%if(lang == "fr"){%>
        Plusieurs guides sur Among Us. Ainsi que des liens rapides de téléchargement.
    <%}else{%>
        Different guides related to Among Us <i>(only available in french for now)</i>
    <%}%>
</div>
<br/>