<form>
    <fieldset>
        <legend>Cooldown TFT Cup</legend>
        Merci de renseigner l'ID <strong>OU</strong> le lien de la Cooldown TFT Cup.
        <br/><br/>
        <table>
            <tr>
                <td>
                    <label for="cooldownId">ID du Tournoi :</label>
                </td>
                <td>
                    <input type="text" name="cooldownId" id="cooldownId" autocomplete="off" onkeydown="removeOtherForm(this)">

                </td>
            </tr>
            <tr>
                <td>
                    <label for="cooldownLink">Lien du Tournoi :</label>
                </td>
                <td>
                    <input type="text" name="cooldownLink" id="cooldownLink" autocomplete="off" onkeydown="removeOtherForm(this)">
                </td>
            </tr>
            <tr class="fullCenter">
                <td colspan="2">
                    <input type="button" value="Rechercher">
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>PCS Trophy TFT</legend>
        Merci de renseigner l'ID <strong>OU</strong> le lien du PCS Trophy TFT.
        <br/><br/>
        <table>
            <tr>
                <td>
                    <label for="pcsId">ID du Tournoi :</label>
                </td>
                <td>
                    <input type="text" name="pcsId" id="pcsId" autocomplete="off" onkeydown="removeOtherForm(this)">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pcsLink">Lien du Tournoi :</label>
                </td>
                <td>
                    <input type="text" name="pcsLink" id="pcsLink" autocomplete="off" onkeydown="removeOtherForm(this)">
                </td>
            </tr>
            <tr class="fullCenter">
                <td colspan="2">
                    <input type="button" value="Rechercher">
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>Liste de Joueurs</legend>
        Merci de renseigner une liste de joueurs séparés par un caractères de votre choix (<strong>ex: ";"</strong>).
        <br/><br/>
        <table>
            <tr>
                <td colspan="2">
                    <label for="namesList">Noms des Joueurs :</label><br/>
                    <textarea name="namesList" id="namesList" autocomplete="off" onkeydown="removeOtherFormTextArea()"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="separator">Séparateur :</label>
                </td>
                <td>
                    <input type="text" name="separator" id="separator" autocomplete="off" onkeydown="removeOtherForm(this)">
                </td>
            </tr>
            <tr class="fullCenter">
                <td colspan="2">
                    <input type="button" value="Rechercher">
                </td>
            </tr>
        </table>
    </fieldset>
</form>

<div id="loading" class="fullCenter">
    <h1>Chargement ...</h1>
    <img src="./images/loading.gif" width="300px">
</div>

<div id="response"></div>