/** General */
html{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4em 0 4em 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
body.blackTheme{
    background-color: #36393f;
    color: lightgrey;
}
body.whiteTheme{
    background-color: lightgrey;
    color: #36393f;
}

.background{
    background: url("../images/wallpaper.png") no-repeat 50% 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.1);
}
.blackTheme .background{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ), url("../images/wallpaper.png") no-repeat 50% 50%;
}

.loader {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}
.blackTheme .loader{
    background: url("../images/transitionBlack.png");
}
.whiteTheme .loader{
    background: url("../images/transitionWhite.png");
}

/** Main */
div#main{
    width: 80%;
    max-width: 1152px;
    min-width: 768px;
    box-shadow: 0px -2px 5px 2px rgba(112, 128, 144, 0.5), 0px 2px 5px 2px rgba(112, 128, 144, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 1em;
    text-align: left;
}
.blackTheme div#main{
    background-color: #2f3136;
}
.whiteTheme div#main{
    background-color: whitesmoke;
}

/** Titles */
h1{
    color:crimson;
    text-align: center;
    padding-bottom: 0.3em;
}
.blackTheme h1{
    border-bottom: 4px solid whitesmoke;
}
.whiteTheme h1{
    border-bottom: 4px solid #2f3136;
}

h3{
    border-left: 4px solid crimson;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0.5em 0 0.5em 0;
    position: relative;
}

h3.link::after{
    content: ' ';
    left: -0.2em;
    bottom: 0;
    height: 0;
    width: 4px;
    position: absolute;
    transition: height 0.3s;
}
.blackTheme h3.link::after{
    background: whitesmoke;
}
.whiteTheme h3.link::after{
    background: #2f3136;
}
h3.link:hover::after{
    height: 100%;
    transition: height 0.3s;
}

a{
    cursor: pointer;
    text-decoration: dotted;
    color: inherit;
}

/** Tables */
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 1em;
    text-align: left;
}

table.bordered{
    border: 1px solid slategrey;
    font-weight: normal;
    font-size: small;
}

.bordered th, .bordered td{
    border: 1px solid slategrey;
    text-align: center;
}

/** Other */
.fullCenter th, .fullCenter td{
    vertical-align: center;
}

.serverPwd{
    width: 50px;
    margin: 3px 0 3px 0;
}

#main img{
    max-width: 100%;
}

p{
    margin-bottom: -0.3em; 
    font-weight: normal;
    font-size: small;
}

span.right{
    float: right;
}
span.left{
    float: left;
}