/** General */
html{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4em 0 4em 0;
}
body.blackTheme{
    background-color: #36393f;
    color: lightgrey;
}
body.whiteTheme{
    background-color: lightgrey;
    color: #36393f;
}

/** Main */
div#main{
    width: 80%;
    max-width: 1152px;
    min-width: 768px;
    border: 2px solid slategrey;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 1em;
    text-align: left;
}
.blackTheme div#main{
    background-color: #2f3136;
}
.whiteTheme div#main{
    background-color: whitesmoke;
}

#main img{
    max-width: 100%;
}

h1{
    color:crimson;
    text-align: center;
    padding-bottom: 0.3em;
}
.blackTheme h1{
    border-bottom: 4px solid whitesmoke;
}
.whiteTheme h1{
    border-bottom: 4px solid #2f3136;
}

h3{
    border-left: 4px solid crimson;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0.5em 0 0.5em 0;
    position: relative;
    transition: border-left 0.5s ease-in-out;
}

h3.link::after{
    content: ' ';
    left: -0.2em;
    bottom: 0;
    height: 0;
    width: 4px;
    position: absolute;
    transition: height 0.3s;
}
.blackTheme h3.link::after{
    background: whitesmoke;
}
.whiteTheme h3.link::after{
    background: #2f3136;
}
h3.link:hover::after{
    height: 100%;
    transition: height 0.3s;
}

a{
    cursor: pointer;
    text-decoration: dotted;
    color: inherit;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 1em;
    text-align: left;
}

table.bordered{
    border: 1px solid slategrey;
    font-weight: normal;
    font-size: small;
}

.bordered th, .bordered td{
    border: 1px solid slategrey;
    text-align: center;
}

.fullCenter th, .fullCenter td{
    vertical-align: center;
}

.serverPwd{
    width: 50px;
    margin: 3px 0 3px 0;
}

p{
    margin-bottom: -0.3em; 
    font-weight: normal;
    font-size: small;
}

span.right{
    float: right;
}
span.left{
    float: left;
}