html{
    min-width: 600px;
}

#imgProfil{
    min-width: 10em !important;
}
#imgProfil img{
    float: right;
    width: 10em !important;
    height: 10em !important;
    min-width: 10em !important;
    min-height: 10em !important;
    border-radius: 50%;
}

span.dot{
    height: 12px;
    width: 12px;
    box-shadow: 1px 1px 1px black, 1px -1px 1px black, 0 0 3px black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -2px;
}
span.red{
    background-color: crimson;
}
span.white{
    background-color: whitesmoke;
}

table{
    width: calc(100% + 20px);
    margin-left: -10px;
}

th, td{
    vertical-align: top;
}

div#experiences{
    text-align: justify;
}
div#experiences i {
    font-size: small;
}